  h1, h2, h3, h4 {
                color: rgb(32, 91, 32);
                font-size: 30px;
            }
            h1 {
                color: coral;
                /* color:aqua */
            }
            .important{
                color: red;
                background-color: bisque;
            }
            .uppercase{
                text-transform: uppercase;
                color: hotpink;
                background-color: black;
            }
            #the_one{
                color: rgb(72, 9, 143)
            }